<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FatigueDetector.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FatigueDetectorWatchApp Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE739F9A2E2EA4970094E4FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE739FAB2E2EA4990094E4FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE739FB52E2EA4990094E4FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE739FCD2E2EA57B0094E4FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE739FD92E2EA57D0094E4FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE739FE32E2EA57D0094E4FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
